<configuration>
<springProfile name="dev">
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
    <logger name="com.ptest" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>
</springProfile>

<springProfile name="prd">
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="com.ptest" level="debug">
        <appender-ref ref="STDOUT"/>
    </logger>
</springProfile>
</configuration>